<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Linkerfolio</title>
    <link rel="shortcut icon" href="https://res.cloudinary.com/dssrnghtr/image/upload/v1726176794/mptxnsr28gdxrdzpgp5i.png" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="glow-effect"></div>
    <div>
        <h1>Server Linkerfolio</h1>
    </div>
</body>

</html>
